body {
  background-color: #5b6073;
  font-family: Work Sans, sans-serif;
}

h1 {
  border-top: 1px;
  border-style: solid;
  text-align: center;
  color: white;
}

label {
  font-size: 16px;
}

#pizza-container {
  background-color: black;
}

h3 {
  color: black;
}
